<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="#intro">What is PWA?</a></li>
        <li><a href="#one">Why do we need a PWA?</a></li>
        <li><a href="#two">How to build a PWA?</a></li>
      </ul>
    </nav>
  </div>
</section>

<div id="wrapper">
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>What is PWA?</h1>
      <p>The term Progressive Web App was coined by Alex Russell and Frances Berriman. In Alex’s words:</p>
      <blockquote>Progressive Web Apps are just websites that took all the right vitamins.</blockquote>
      <p>It isn’t a new framework or technology. It is a set of best practices to make a web application function similar to a desktop or mobile application. The dream is to have an experience so uniform and seamless that the user is unable to tell the difference between a Progressive Web App and a native mobile app.</p>
      <p>Progressive web applications deliver user experiences through progressive enhancement. It essentially means that a PWA will perform the same functions on a new iPhone 8 as it would on an older generation iPhone. Sure, some features may not be available, but the app continues to work and perform like it should.</p>
      <ul class="actions">
        <li><a href="#one" class="button scrolly">Why do we need a PWA?</a></li>
      </ul>
    </div>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style2 spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h2>Why do we need a Progressive Web App?</h2>
          <p>Before we understand why we need a progressive web app, let’s talk about some of the challenges we are facing today with native and web apps.</p>
          <p><strong>Internet Speed:</strong> you may not realize this depending on where you live, but 60% of the world’s population is still using 2G internet. Even in the US, some people have to use dialup to access internet.</p>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image"><img src="./../assets/images/pic02.jpg" alt="" data-position="top center" /></a>
      <div class="content">
        <div class="inner">
          <h2>Feugiat consequat</h2>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada
            quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li><a href="generic.html" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image"><img src="./../assets/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
      <div class="content">
        <div class="inner">
          <h2>Ultricies aliquam</h2>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada
            quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li><a href="generic.html" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper style3 fade-up">
    <div class="inner">
      <h2>What we do</h2>
      <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis.
        Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.
      </p>
      <div class="features">
        <section>
          <span class="icon solid major fa-code"></span>
          <h3>Lorem ipsum amet</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat
            dapibus.</p>
        </section>
        <section>
          <span class="icon solid major fa-lock"></span>
          <h3>Aliquam sed nullam</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat
            dapibus.</p>
        </section>
        <section>
          <span class="icon solid major fa-cog"></span>
          <h3>Sed erat ullam corper</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat
            dapibus.</p>
        </section>
        <section>
          <span class="icon solid major fa-desktop"></span>
          <h3>Veroeros quis lorem</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat
            dapibus.</p>
        </section>
        <section>
          <span class="icon solid major fa-link"></span>
          <h3>Urna quis bibendum</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat
            dapibus.</p>
        </section>
        <section>
          <span class="icon major fa-gem"></span>
          <h3>Aliquam urna dapibus</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat
            dapibus.</p>
        </section>
      </div>
      <ul class="actions">
        <li><a href="generic.html" class="button">Learn more</a></li>
      </ul>
    </div>
  </section>
</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
  <div class="inner">
    <ul class="menu">
      <li>&copy; Untitled. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>