<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="#intro">What is PWA?</a></li>
        <li><a href="#one">Why do we need a PWA?</a></li>
        <li><a href="#two">How to build a PWA?</a></li>
        <li><a href="#three">Live example of remote call</a></li>
      </ul>
    </nav>
  </div>
</section>

<div id="wrapper">
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>What is PWA?</h1>
      <p>The term Progressive Web App was coined by Alex Russell and Frances Berriman. In Alex’s words:</p>
      <blockquote>Progressive Web Apps are just websites that took all the right vitamins.</blockquote>
      <p>It isn’t a new framework or technology. It is a set of best practices to make a web application function similar to a desktop or mobile application. The dream is to have an experience so uniform and seamless that the user is unable to tell the difference between a Progressive Web App and a native mobile app.</p>
      <p>Progressive web applications deliver user experiences through progressive enhancement. It essentially means that a PWA will perform the same functions on a new iPhone 8 as it would on an older generation iPhone. Sure, some features may not be available, but the app continues to work and perform like it should.</p>
      <ul class="actions">
        <li><a href="#one" class="button scrolly">Why do we need a PWA?</a></li>
      </ul>
    </div>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style2 spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h2>Why do we need a Progressive Web Application?</h2>
          <p>Before we understand why we need a progressive web app, let’s talk about some of the challenges we are facing today with native and web apps.</p>
          <p><strong>Internet Speed:</strong> you may not realize this depending on where you live, but 60% of the world’s population is still using 2G internet. Even in the US, some people have to use dialup to access internet.</p>
          <p><strong>Slow website load:</strong> Do you know how long a user waits to click the “Close X” button if a website is too slow? Three seconds! 53% of users abandon a website if it is too slow.</p>
          <p><strong>High friction:</strong> People don’t want to install native apps. An average user installs 0 applications in a month.</p>
          <p><strong>User engagement:</strong> Users spend most of their time in native apps, but mobile web reach is almost three times that of native apps. Hence, most of the users are not actively engaged. However, users are spending 80% of their time on only their top three native apps.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="content">
        <div class="inner">
          <p>PWAs help solve these problems. There are multiple reasons for using a progressive web app, but here are some of the top capabilities it provides:</p>
          <ol>
            <li>
              <p><strong>F</strong>ast: PWAs provide experiences that are consistently fast. From the moment a user downloads an app to the moment they start interacting with it, everything happens really fast. Because you can cache the data, it is extremely fast to start the app again even without hitting the network.</p>
            </li>
            <li>
              <p><strong>I</strong>ntegrated user experience: PWAs feel and behave like native apps. They sit in a user’s home screen, send push notifications like native apps, and have access to a device’s functionalities like native apps. The experience feels seamless and integrated.</p>
            </li>
            <li>
              <p><strong>R</strong>eliable experience: With the help of service workers, we can reliably paint a picture on a user’s screen even when network has failed.</p>
            </li>
            <li>
              <p><strong>E</strong>ngaging: Because we can send notifications to a user, we can really drive the engagement up by keeping the user notified and engaged with the app.</p>
            </li>
          </ol>
          <p>In short, it is <strong>FIRE</strong>.</p>
        </div>
      </div>
    </section>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper style3 fade-up spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h2>How to build a PWA?</h2>
          <h3>Add necessary packages</h3>
          <p>Run the following command to install everything that’s needed:</p>
          <code>ng add @angular/pwa --project yourProject</code>
          <p>This command will add basic configuration, manifest and imports to your project.</p>
          <h3>Edit the manifest file</h3>
          <p>Every PWA should have a manifest file. Now that Angular CLI has created one for us, we need to edit it to fit our needs. Refer to <a href="https://developer.mozilla.org/en-US/docs/Web/Manifest" target="_blank" rel="noopener noreferrer">this guide by MDN</a> for the different possibilities.</p>
          <p>Notice how it’s already pre-filled. Feel free to change or add members to customize your PWA. If you change the theme-color value, don’t forget to change it in your index.html file as well!</p>
          <p>If you want your Angular App to be installable on home screens, these members must be present in your manifest file:</p>
          <ul>
            <li><code>short_name</code> or <code>name</code></li>
            <li><code>display</code></li>
            <li><code>start_url</code></li>
            <li><code>icons</code></li>
          </ul>
          <p>You also need to serve your app over https. For more details check out <a href="https://developers.google.com/web/fundamentals/app-install-banners/" target="_blank" rel="noopener noreferrer">this guide from Google.</a></p>
          <h3>Edit the service worker config file</h3>
          <p>As mentioned above, <code>ngsw-config.json</code> has been created at the root of your project. In it you can specify which files to <strong>prefetch</strong> or <strong>lazy load</strong> when downloading a version of your PWA. You can create <strong>assetGroups</strong> with different configurations, decide if the service worker should prioritize <strong>freshness</strong> or <strong>performance</strong>… and much more!</p>
          <ul class="actions">
            <li><a href="https://github.com/Kp0c/pwa-introduction" class="button" target="_blank" rel="noopener noreferrer">Github repository</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style1 fade-up spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <div class="table-wrapper">
            <h2>Data retrieved from <a href="https://jsonplaceholder.typicode.com/todos" target="_blank" rel="noopener noreferrer">https://jsonplaceholder.typicode.com/todos</a></h2>
            <table>
              <thead>
                <tr>
                  <th>User Id</th>
                  <th>Title</th>
                  <th>Is completed</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let todo of todos">
                  <td>{{ todo.userId }}</td>
                  <td>{{ todo.title }}</td>
                  <td><input type="checkbox" name="completed" [checked]="todo.completed">
                      <label for="completed">{{ todo.completed ? 'Completed' : 'Not Completed' }}</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
  <div class="inner">
    <ul class="menu">
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>